<div class="row">
  <div class="col-3">
    <app-donuts title="Ventas"></app-donuts>
  </div>
  <div class="col-3">
    <app-donuts
      title="Participacion"
      [labels]="labels1"
      [inputData]="data1"
    ></app-donuts>
  </div>
  <div class="col-3">
    <app-donuts
      title="Margen"
      [labels]="labels1"
      [inputData]="data1"
    ></app-donuts>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <app-donuts
      title="Ganancias"
      [labels]="labels1"
      [inputData]="data1"
    ></app-donuts>
  </div>
  <div class="col-3">
    <app-donuts
      title="Participacion"
      [labels]="labels1"
      [inputData]="data1"
    ></app-donuts>
  </div>
  <div class="col-3">
    <app-donuts
      title="Margen"
      [labels]="labels1"
      [inputData]="data1"
    ></app-donuts>
  </div>
</div>
